@font-face {
  font-family: "Roboto";
  src: url("/src/assets/fonts/Roboto-Bold.ttf") format("truetype"),
    url("/src/assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@import "tailwindcss";

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }
}

@theme {
  --font-display: "Roboto", sans;

  --color-primary-tomato: hsl(4, 100%, 67%);

  --color-dark-slate-grey: hsl(234, 29%, 20%);
  --color-charcoal-grey: hsl(235, 18%, 26%);
  --color-neutral-grey: hsl(231, 7%, 60%);
  --color-neutral-100: hsl(0, 0%, 100%);

  --color-bg-gradient: bg-linear-to-r from-cyan-500 to-blue-500

  --color-gradient-one: #FF6A3A;
  --color-grdient-two: #FF527B;

  --breakpoint-lgx: 37.5rem;
  --breakpoint-smx: 25rem;
}
